<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Hyper League</title>
  </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark nav">
          <!-- Brand/logo -->
          <a class="navbar-brand" href="#"HyperLeague</a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">DRUŻYNY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TERMINARZ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TABELA</a>
            </li>
          </ul>
        </nav>

        <div class="jumbotron text-center">
          <div class="col-12">
              <h2 class="mt-2"></h2>
              <hr class="mt-0 mb-4">
              {% block content %}
              {% endblock %}
          </div>
        </div>

    </body>
</html>