{% extends 'base.html' %}

{% block content %}
    <div>
        <table class="table table-striped" title="Terminarz">
            <thead>
                <tr>
                  <th scope="col">Terminarz</th>
                </tr>
            </thead>
            {% for game in games %}
                <tbody>
                    <tr>
{#                      <th scope="row">{{ team.id }}</th>#}
                      <td>{{ game }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}